services:
  app:
    image: python:3.12-slim
    working_dir: /app
    volumes:
      - ./app:/app
    command: sh -c "pip install flask && python app.py"
    ports:
      - "7000:7000"
    environment:
      MODE: "base"
